<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Leass</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/less/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--<div class="background">-->
<div class="container">
    <div class="row login">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading">Witamy w aplikacji Leass</h3>
        <br/>

        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Login lub hasło nieprawidłowe</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-login" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
    </form>
    </div>
</div>
<!--</div>-->
</body>
</html>