<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leass</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/less/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/metisMenu/metisMenu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dist/css/sb-admin-2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/font-awesome/css/font-awesome.min.css}"/>

    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript"
            src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
    var balance = [[${balance}]];
    var balanceLeft = [[${balanceLeft}]];
    var month = [[${month}]];
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    ['Wartość zadłużenia', balance],
    ['Wartość wpłat', balanceLeft]
    ]);

    var options = {'title':'Pozostało ' + month + ' rat',
    pieHole: 0.3,
    legend: {position: 'bottom', textStyle: {color: '#d6d6d6', fontSize: 16}},
    slices: {0: {color: '#ff8a25'}, 1:{color: '#62f7de'}}
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart-container'));
    chart.draw(data, options);
}

    </script>


</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="logo" th:src="@{/css/assets/logo.png}"/></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="logout" href="/login" th:href="@{/login}" onclick="$('#form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Wyloguj
                </a>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#" th:href="@{/home}">
                            <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/listagreement}">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Umowa</a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#" th:href="@{/listinvoice}">
                            <i class="fa fa-files-o fa-fw"></i> Faktury</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/listpayment}">
                            <i class="fa fa-money fa-fw"></i> Wpłaty</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="col-lg-6" style="margin-top: 50px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Umowa
                </div>
                <div class="panel-body">
                    <div id="chart-container"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 50px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Faktury
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Numer faktury</th>
                                <th>Wartość</th>
                                <th>Wpłaty</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="invoice : ${invoiceList}">
                                <td th:text="${invoice.identifier}"></td>
                                <td th:text="${invoice.finalGrossValue}"></td>
                                <td th:text="${invoice.paidValue}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script src="/css/vendor/jquery/jquery.min.js"></script>
    <script src="/css/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/css/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/css/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/css/dist/js/sb-admin-2.js"></script>
</th:block>


</body>

</html>