<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Leass</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="/leass/smallogo.png">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li th:classappend="${module == 'home' ? 'active' : ''}">
                                <a href="#" th:href="@{/home}">Home</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li th:classappend="${module == 'client' ? 'active' : ''}">
                                <a href="#" th:href="@{/listclient}">Client</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                                <a href="#" th:href="@{/listagreement}">Add user</a>
                            </li>
                            <li>
                                <a href="/login" th:href="@{/login}" onclick="$('#form').submit();">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                                </a>
                                <form style="visibility: hidden" id="form" method="post" action="#"
                                      th:action="@{/login}"></form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="well sidebar-nav nav-inverse">
                <ul class="nav nav-inverse nav-list">
                    <li>

                    </li>
                </ul>
                <ul class="nav nav-inverse nav-list">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;Dash board
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-inverse nav-list">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Product
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-inverse nav-list">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>&nbsp;Invoice
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-inverse nav-list">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-eur" aria-hidden="true"></span>&nbsp;Payment
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-inverse nav-list">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;My account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">
                <label type="text" th:text="${client.shortName}"
                       class="form-control" />
                </div>
            <div class="row">
                <label type="text" th:text="${client.tin}"
                       class="form-control" />
            </div>
                <div class="row">
                <label type="text" th:text="${client.email}"
                       class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>