<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:visibility="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leass</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/less/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/metisMenu/metisMenu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dist/css/sb-admin-2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/morrisjs/morris.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/font-awesome/css/font-awesome.min.css}"/>



    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="logo" th:src="@{/css/assets/logo.png}"/></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/registration" th:href="@{/registration}" onclick="$('#form').submit();">
                    <i class="fa fa-user fa-fw"></i>
                </a>
            </li>
            <!--/.dodanie użytkownika-->
            <!--wylogowanie-->
            <li>
                <a class="logout" href="/login" th:href="@{/login}" onclick="$('#form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Wyloguj
                </a>
            </li>
            <!--/.wylogowanie-->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#" th:href="@{/home}">
                            <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/listagreement}">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Umowa</a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#" th:href="@{/listinvoice}">
                            <i class="fa fa-files-o fa-fw"></i>Faktury</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/listpayment}">
                            <i class="fa fa-money fa-fw"></i>Wpłaty</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">"Wpłata"</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dane wpłaty
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form autocomplete="off" action="#" th:action="@{/addPayment}"
                                  th:object="${payment}" method="post" class="form-horizontal"
                                  role="form">
                                <input type="hidden" th:field="*{id}" class="form-control">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label class="text">Umowa:</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select class="form-control" th:field="*{agreement}" name="example" id="example">
                                            <option value="0">ALL</option>
                                            <option th:each="agreement : ${allAgreement}"
                                                    th:value="${agreement.id}"
                                                    th:selected="${agreement.isSelected(agreement.id)}"
                                                    th:text="${agreement.agreementNumber}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label class="text">Tytuł wpłaty</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" th:field="*{transactionDescription}" class="form-control add">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label class="text">Kwota:</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="number" th:field="*{amount}" class="form-control add" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label class="text">Data utworzenia:</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="date" th:field="*{dateOfPayment}" class="form-control add" />
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-agreement">Zapisz</button>
                                <span th:utext="${successMessage}"></span>
                            </form>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script src="/js/hello.js"></script>
    <script src="/css/vendor/jquery/jquery.min.js"></script>
    <script src="/css/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/css/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/css/vendor/raphael/raphael.min.js"></script>
    <script src="/css/vendor/morrisjs/morris.min.js"></script>
    <script src="/css/webdata/morris-data.js"></script>
    <script src="css/dist/js/sb-admin-2.js"></script>
</th:block>

</body>

</html>